<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.softtek.mdm.dao.AndroidDevicePolicyDao">
	<sql id="filterRecordSql">
		(
		SELECT id FROM org_managers
		WHERE id=#{mid}
		UNION ALL
		SELECT r.manager_id AS id FROM organization_manager_relation r
		WHERE r.org_id = #{orgId}
		)
	</sql>

	<sql id="filterUserRecordSql">
		(
		<if test="params.user==null">
		SELECT id FROM org_managers
		WHERE org_managers.delete_time IS NULL
		AND user_id IS NOT NULL
		AND org_managers.create_by IN (
			SELECT r.manager_id FROM organization_manager_relation r
			WHERE r.org_id = #{params.orgId}
		)
		
			UNION ALL
			SELECT r.manager_id AS id FROM organization_manager_relation r
			WHERE r.org_id = #{params.orgId}
		</if>
		<if test="params.user!=null">
			SELECT id FROM org_managers
			WHERE delete_time IS NULL
			AND user_id=#{params.user.id}
			AND org_id=#{params.orgId}
			UNION ALL
			SELECT r.manager_id AS id FROM organization_manager_relation r
			WHERE r.org_id = #{params.orgId}
		</if>
		)
	</sql>

	<sql id="filterManagerRecordSql">
		(
		<if test="params.user==null">
		SELECT name FROM org_managers
		WHERE org_managers.delete_time IS NULL
		AND user_id IS NOT NULL
		AND org_managers.create_by IN (
			SELECT r.manager_id FROM organization_manager_relation r
			WHERE r.org_id = #{params.orgId}
		)
		
			UNION ALL
			SELECT om.name as name FROM organization_manager_relation r 
			LEFT JOIN org_managers as om on r.manager_id = om.id 
			WHERE r.org_id = #{params.orgId}
		</if>
		<if test="params.user!=null">
			SELECT name FROM org_managers
			WHERE delete_time IS NULL
			AND user_id=#{params.user.id}
			AND org_id=#{params.orgId}
			UNION ALL
			SELECT om.name as name FROM organization_manager_relation r 
			LEFT JOIN org_managers as om on r.manager_id = om.id 
			WHERE r.org_id = #{params.orgId}
		</if>
		)
	</sql>

  <resultMap id="BaseResultMap" type="com.softtek.mdm.model.AndroidDevicePolicy" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
    -->
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="description" property="description" jdbcType="VARCHAR" />
    <result column="is_enable" property="isEnable" jdbcType="CHAR" />
    <result column="org_id" property="orgId" jdbcType="INTEGER" />
    <result column="password_length" property="passwordLength" jdbcType="CHAR" />
    <result column="password_complexity" property="passwordComplexity" jdbcType="CHAR" />
    <result column="lock_longest_time" property="lockLongestTime" jdbcType="CHAR" />
    <result column="password_validity" property="passwordValidity" jdbcType="CHAR" />
    <result column="password_history" property="passwordHistory" jdbcType="CHAR" />
    <result column="attempt_times" property="attemptTimes" jdbcType="CHAR" />
    <result column="device_encryption" property="deviceEncryption" jdbcType="CHAR" />
    <result column="sd_encryption" property="sdEncryption" jdbcType="CHAR" />
    <result column="allow_use_sdcard" property="allowUseSdcard" jdbcType="CHAR" />
    <result column="allow_write_sdcard" property="allowWriteSdcard" jdbcType="CHAR" />
    <result column="allow_screenshots" property="allowScreenshots" jdbcType="CHAR" />
    <result column="allow_shear_plate" property="allowShearPlate" jdbcType="CHAR" />
    <result column="visible_password" property="visiblePassword" jdbcType="CHAR" />
    <result column="allow_use_debugging" property="allowUseDebugging" jdbcType="CHAR" />
    <result column="allow_restore_factory_settings" property="allowRestoreFactorySettings" jdbcType="CHAR" />
    <result column="allow_ota_update" property="allowOtaUpdate" jdbcType="CHAR" />
    <result column="allow_use_camera" property="allowUseCamera" jdbcType="CHAR" />
    <result column="allow_use_wifi" property="allowUseWifi" jdbcType="CHAR" />
    <result column="allow_use_bluetooth" property="allowUseBluetooth" jdbcType="CHAR" />
    <result column="allow_usb_palyer" property="allowUsbPalyer" jdbcType="CHAR" />
    <result column="synchronous_network_time" property="synchronousNetworkTime" jdbcType="CHAR" />
    <result column="allow_microphone" property="allowMicrophone" jdbcType="CHAR" />
    <result column="allow_nfc_communication" property="allowNfcCommunication" jdbcType="CHAR" />
    <result column="allow_mobile_data" property="allowMobileData" jdbcType="CHAR" />
    <result column="allow_use_roam" property="allowUseRoam" jdbcType="CHAR" />
    <result column="enable_blacklist" property="enableBlacklist" jdbcType="CHAR" />
    <result column="enable_app_name_list" property="enableAppNameList" jdbcType="CHAR" />
    <result column="is_net_limit" property="isNetLimit" jdbcType="CHAR" />
    <result column="visit_time_start" property="visitTimeStart" jdbcType="VARCHAR" />
    <result column="visit_time_end" property="visitTimeEnd" jdbcType="VARCHAR" />
    <result column="visit_time_str" property="visitTimeStr" jdbcType="VARCHAR" />
    <result column="allow_use_gps" property="allowUseGps" jdbcType="CHAR" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
    <result column="create_user" property="createUser" jdbcType="INTEGER" />
    <result column="update_date" property="updateDate" jdbcType="TIMESTAMP" />
    <result column="update_user" property="updateUser" jdbcType="INTEGER" />
    <result column="delete_time" property="deleteTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, name, description, is_enable, org_id, password_length, password_complexity, lock_longest_time, 
    password_validity, password_history, attempt_times, device_encryption, sd_encryption, 
    allow_use_sdcard, allow_write_sdcard, allow_screenshots, allow_shear_plate, visible_password, 
    allow_use_debugging, allow_restore_factory_settings, allow_ota_update, allow_use_camera, 
    allow_use_wifi, allow_use_bluetooth, allow_usb_palyer, synchronous_network_time, 
    allow_microphone, allow_nfc_communication, allow_mobile_data, allow_use_roam, enable_blacklist, 
    enable_app_name_list, is_net_limit, visit_time_start, visit_time_end, visit_time_str,
    allow_use_gps, create_date,create_user, update_date, update_user, delete_time 
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
    -->
    select 
    <include refid="Base_Column_List" />
    from android_device_policy
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
    -->
    delete from android_device_policy
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.softtek.mdm.model.AndroidDevicePolicy" useGeneratedKeys="true" keyProperty="id">
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
    -->
    insert into android_device_policy (name, description, 
      is_enable, org_id, password_length, 
      password_complexity, lock_longest_time, password_validity, 
      password_history, attempt_times, device_encryption, 
      sd_encryption, allow_use_sdcard, allow_write_sdcard, 
      allow_screenshots, allow_shear_plate, visible_password, 
      allow_use_debugging, allow_restore_factory_settings, 
      allow_ota_update, allow_use_camera, allow_use_wifi, 
      allow_use_bluetooth, allow_usb_palyer, synchronous_network_time, 
      allow_microphone, allow_nfc_communication, allow_mobile_data, 
      allow_use_roam, enable_blacklist, enable_app_name_list, is_net_limit, 
      visit_time_start, visit_time_end, visit_time_str, create_date, 
      create_user, update_date, update_user, 
      delete_time)
    values (#{name,jdbcType=VARCHAR}, #{description,jdbcType=VARCHAR}, 
      #{isEnable,jdbcType=CHAR}, #{orgId,jdbcType=INTEGER}, #{passwordLength,jdbcType=CHAR}, 
      #{passwordComplexity,jdbcType=CHAR}, #{lockLongestTime,jdbcType=CHAR}, #{passwordValidity,jdbcType=CHAR}, 
      #{passwordHistory,jdbcType=CHAR}, #{attemptTimes,jdbcType=CHAR}, #{deviceEncryption,jdbcType=CHAR}, 
      #{sdEncryption,jdbcType=CHAR}, #{allowUseSdcard,jdbcType=CHAR}, #{allowWriteSdcard,jdbcType=CHAR}, 
      #{allowScreenshots,jdbcType=CHAR}, #{allowShearPlate,jdbcType=CHAR}, #{visiblePassword,jdbcType=CHAR}, 
      #{allowUseDebugging,jdbcType=CHAR}, #{allowRestoreFactorySettings,jdbcType=CHAR}, 
      #{allowOtaUpdate,jdbcType=CHAR}, #{allowUseCamera,jdbcType=CHAR}, #{allowUseWifi,jdbcType=CHAR}, 
      #{allowUseBluetooth,jdbcType=CHAR}, #{allowUsbPalyer,jdbcType=CHAR}, #{synchronousNetworkTime,jdbcType=CHAR}, 
      #{allowMicrophone,jdbcType=CHAR}, #{allowNfcCommunication,jdbcType=CHAR}, #{allowMobileData,jdbcType=CHAR}, 
      #{allowUseRoam,jdbcType=CHAR}, #{enableBlacklist,jdbcType=CHAR}, #{enableAppNameList,jdbcType=CHAR}, #{isNetLimit,jdbcType=CHAR}, 
      #{visitTimeStart,jdbcType=VARCHAR}, #{visitTimeEnd,jdbcType=VARCHAR}, #{visitTimeStr,jdbcType=VARCHAR}, #{createDate,jdbcType=TIMESTAMP}, 
      #{createUser,jdbcType=INTEGER}, #{updateDate,jdbcType=TIMESTAMP}, #{updateUser,jdbcType=INTEGER}, 
      #{deleteTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.softtek.mdm.model.AndroidDevicePolicy" useGeneratedKeys="true" keyProperty="id">
    insert into android_device_policy
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="name != null" >
        name,
      </if>
      <if test="description != null" >
        description,
      </if>
      <if test="isEnable != null" >
        is_enable,
      </if>
      <if test="orgId != null" >
        org_id,
      </if>
      <if test="passwordLength != null" >
        password_length,
      </if>
      <if test="passwordComplexity != null" >
        password_complexity,
      </if>
      <if test="lockLongestTime != null" >
        lock_longest_time,
      </if>
      <if test="passwordValidity != null" >
        password_validity,
      </if>
      <if test="passwordHistory != null" >
        password_history,
      </if>
      <if test="attemptTimes != null" >
        attempt_times,
      </if>
      <if test="deviceEncryption != null" >
        device_encryption,
      </if>
      <if test="sdEncryption != null" >
        sd_encryption,
      </if>
      <if test="allowUseSdcard != null" >
        allow_use_sdcard,
      </if>
      <if test="allowWriteSdcard != null" >
        allow_write_sdcard,
      </if>
      <if test="allowScreenshots != null" >
        allow_screenshots,
      </if>
      <if test="allowShearPlate != null" >
        allow_shear_plate,
      </if>
      <if test="visiblePassword != null" >
        visible_password,
      </if>
      <if test="allowUseDebugging != null" >
        allow_use_debugging,
      </if>
      <if test="allowRestoreFactorySettings != null" >
        allow_restore_factory_settings,
      </if>
      <if test="allowOtaUpdate != null" >
        allow_ota_update,
      </if>
      <if test="allowUseCamera != null" >
        allow_use_camera,
      </if>
      <if test="allowUseWifi != null" >
        allow_use_wifi,
      </if>
      <if test="allowUseBluetooth != null" >
        allow_use_bluetooth,
      </if>
      <if test="allowUsbPalyer != null" >
        allow_usb_palyer,
      </if>
      <if test="synchronousNetworkTime != null" >
        synchronous_network_time,
      </if>
      <if test="allowMicrophone != null" >
        allow_microphone,
      </if>
      <if test="allowNfcCommunication != null" >
        allow_nfc_communication,
      </if>
      <if test="allowMobileData != null" >
        allow_mobile_data,
      </if>
      <if test="allowUseRoam != null" >
        allow_use_roam,
      </if>
      <if test="enableBlacklist != null" >
        enable_blacklist,
      </if>
      <if test="enableAppNameList != null" >
        enable_app_name_list,
      </if>
      <if test="isNetLimit != null" >
        is_net_limit,
      </if>
      <if test="visitTimeStart != null" >
        visit_time_start,
      </if>
      <if test="visitTimeEnd != null" >
        visit_time_end,
      </if>
      <if test="visitTimeStr != null" >
        visit_time_str,
      </if>
      <if test="allowUseGps != null">
        allow_use_gps,
      </if>
      <if test="createDate != null" >
        create_date,
      </if>
      <if test="createUser != null" >
        create_user,
      </if>
      <if test="updateDate != null" >
        update_date,
      </if>
      <if test="updateUser != null" >
        update_user,
      </if>
      <if test="deleteTime != null" >
        delete_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="description != null" >
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="isEnable != null" >
        #{isEnable,jdbcType=CHAR},
      </if>
      <if test="orgId != null" >
        #{orgId,jdbcType=INTEGER},
      </if>
      <if test="passwordLength != null" >
        #{passwordLength,jdbcType=CHAR},
      </if>
      <if test="passwordComplexity != null" >
        #{passwordComplexity,jdbcType=CHAR},
      </if>
      <if test="lockLongestTime != null" >
        #{lockLongestTime,jdbcType=CHAR},
      </if>
      <if test="passwordValidity != null" >
        #{passwordValidity,jdbcType=CHAR},
      </if>
      <if test="passwordHistory != null" >
        #{passwordHistory,jdbcType=CHAR},
      </if>
      <if test="attemptTimes != null" >
        #{attemptTimes,jdbcType=CHAR},
      </if>
      <if test="deviceEncryption != null" >
        #{deviceEncryption,jdbcType=CHAR},
      </if>
      <if test="sdEncryption != null" >
        #{sdEncryption,jdbcType=CHAR},
      </if>
      <if test="allowUseSdcard != null" >
        #{allowUseSdcard,jdbcType=CHAR},
      </if>
      <if test="allowWriteSdcard != null" >
        #{allowWriteSdcard,jdbcType=CHAR},
      </if>
      <if test="allowScreenshots != null" >
        #{allowScreenshots,jdbcType=CHAR},
      </if>
      <if test="allowShearPlate != null" >
        #{allowShearPlate,jdbcType=CHAR},
      </if>
      <if test="visiblePassword != null" >
        #{visiblePassword,jdbcType=CHAR},
      </if>
      <if test="allowUseDebugging != null" >
        #{allowUseDebugging,jdbcType=CHAR},
      </if>
      <if test="allowRestoreFactorySettings != null" >
        #{allowRestoreFactorySettings,jdbcType=CHAR},
      </if>
      <if test="allowOtaUpdate != null" >
        #{allowOtaUpdate,jdbcType=CHAR},
      </if>
      <if test="allowUseCamera != null" >
        #{allowUseCamera,jdbcType=CHAR},
      </if>
      <if test="allowUseWifi != null" >
        #{allowUseWifi,jdbcType=CHAR},
      </if>
      <if test="allowUseBluetooth != null" >
        #{allowUseBluetooth,jdbcType=CHAR},
      </if>
      <if test="allowUsbPalyer != null" >
        #{allowUsbPalyer,jdbcType=CHAR},
      </if>
      <if test="synchronousNetworkTime != null" >
        #{synchronousNetworkTime,jdbcType=CHAR},
      </if>
      <if test="allowMicrophone != null" >
        #{allowMicrophone,jdbcType=CHAR},
      </if>
      <if test="allowNfcCommunication != null" >
        #{allowNfcCommunication,jdbcType=CHAR},
      </if>
      <if test="allowMobileData != null" >
        #{allowMobileData,jdbcType=CHAR},
      </if>
      <if test="allowUseRoam != null" >
        #{allowUseRoam,jdbcType=CHAR},
      </if>
      <if test="enableBlacklist != null" >
        #{enableBlacklist,jdbcType=CHAR},
      </if>
      <if test="enableAppNameList != null" >
        #{enableAppNameList,jdbcType=CHAR},
      </if>
      <if test="isNetLimit != null" >
        #{isNetLimit,jdbcType=CHAR},
      </if>
      <if test="visitTimeStart != null" >
        #{visitTimeStart,jdbcType=VARCHAR},
      </if>
      <if test="visitTimeEnd != null" >
        #{visitTimeEnd,jdbcType=VARCHAR},
      </if>
      <if test="visitTimeStr != null" >
        #{visitTimeStr,jdbcType=VARCHAR},
      </if>
      <if test="allowUseGps != null" >
        #{allowUseGps,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="createUser != null" >
        #{createUser,jdbcType=INTEGER},
      </if>
      <if test="updateDate != null" >
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUser != null" >
        #{updateUser,jdbcType=INTEGER},
      </if>
      <if test="deleteTime != null" >
        #{deleteTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  
  <update id="updateByPrimaryKeySelective" parameterType="com.softtek.mdm.model.AndroidDevicePolicy" >
    update android_device_policy
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="description != null" >
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="isEnable != null" >
        is_enable = #{isEnable,jdbcType=CHAR},
      </if>
      <if test="orgId != null" >
        org_id = #{orgId,jdbcType=INTEGER},
      </if>
      <if test="passwordLength != null" >
        password_length = #{passwordLength,jdbcType=CHAR},
      </if>
      <if test="passwordComplexity != null" >
        password_complexity = #{passwordComplexity,jdbcType=CHAR},
      </if>
      <if test="lockLongestTime != null" >
        lock_longest_time = #{lockLongestTime,jdbcType=CHAR},
      </if>
      <if test="passwordValidity != null" >
        password_validity = #{passwordValidity,jdbcType=CHAR},
      </if>
      <if test="passwordHistory != null" >
        password_history = #{passwordHistory,jdbcType=CHAR},
      </if>
      <if test="attemptTimes != null" >
        attempt_times = #{attemptTimes,jdbcType=CHAR},
      </if>
      <if test="deviceEncryption != null" >
        device_encryption = #{deviceEncryption,jdbcType=CHAR},
      </if>
      <if test="sdEncryption != null" >
        sd_encryption = #{sdEncryption,jdbcType=CHAR},
      </if>
      <if test="allowUseSdcard != null" >
        allow_use_sdcard = #{allowUseSdcard,jdbcType=CHAR},
      </if>
      <if test="allowWriteSdcard != null" >
        allow_write_sdcard = #{allowWriteSdcard,jdbcType=CHAR},
      </if>
      <if test="allowScreenshots != null" >
        allow_screenshots = #{allowScreenshots,jdbcType=CHAR},
      </if>
      <if test="allowShearPlate != null" >
        allow_shear_plate = #{allowShearPlate,jdbcType=CHAR},
      </if>
      <if test="allowUseGps != null" >
        allow_use_gps = #{allowUseGps,jdbcType=CHAR},
      </if>
      <if test="visiblePassword != null" >
        visible_password = #{visiblePassword,jdbcType=CHAR},
      </if>
      <if test="allowUseDebugging != null" >
        allow_use_debugging = #{allowUseDebugging,jdbcType=CHAR},
      </if>
      <if test="allowRestoreFactorySettings != null" >
        allow_restore_factory_settings = #{allowRestoreFactorySettings,jdbcType=CHAR},
      </if>
      <if test="allowOtaUpdate != null" >
        allow_ota_update = #{allowOtaUpdate,jdbcType=CHAR},
      </if>
      <if test="allowUseCamera != null" >
        allow_use_camera = #{allowUseCamera,jdbcType=CHAR},
      </if>
      <if test="allowUseWifi != null" >
        allow_use_wifi = #{allowUseWifi,jdbcType=CHAR},
      </if>
      <if test="allowUseBluetooth != null" >
        allow_use_bluetooth = #{allowUseBluetooth,jdbcType=CHAR},
      </if>
      <if test="allowUsbPalyer != null" >
        allow_usb_palyer = #{allowUsbPalyer,jdbcType=CHAR},
      </if>
      <if test="synchronousNetworkTime != null" >
        synchronous_network_time = #{synchronousNetworkTime,jdbcType=CHAR},
      </if>
      <if test="allowMicrophone != null" >
        allow_microphone = #{allowMicrophone,jdbcType=CHAR},
      </if>
      <if test="allowNfcCommunication != null" >
        allow_nfc_communication = #{allowNfcCommunication,jdbcType=CHAR},
      </if>
      <if test="allowMobileData != null" >
        allow_mobile_data = #{allowMobileData,jdbcType=CHAR},
      </if>
      <if test="allowUseRoam != null" >
        allow_use_roam = #{allowUseRoam,jdbcType=CHAR},
      </if>
      <if test="enableBlacklist != null" >
        enable_blacklist = #{enableBlacklist,jdbcType=CHAR},
      </if>
      <if test="enableAppNameList != null" >
        enable_app_name_list = #{enableAppNameList,jdbcType=CHAR},
      </if>
      <if test="isNetLimit != null" >
        is_net_limit = #{isNetLimit,jdbcType=CHAR},
      </if>
      <if test="visitTimeStart != null" >
        visit_time_start = #{visitTimeStart,jdbcType=VARCHAR},
      </if>
      <if test="visitTimeEnd != null" >
        visit_time_end = #{visitTimeEnd,jdbcType=VARCHAR},
      </if>
      <if test="visitTimeStr != null" >
        visit_time_str = #{visitTimeStr,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="createUser != null" >
        create_user = #{createUser,jdbcType=INTEGER},
      </if>
      <if test="updateDate != null" >
        update_date = #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUser != null" >
        update_user = #{updateUser,jdbcType=INTEGER},
      </if>
      <if test="deleteTime != null" >
        delete_time = #{deleteTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.softtek.mdm.model.AndroidDevicePolicy" >
    update android_device_policy
    set name = #{name,jdbcType=VARCHAR},
      description = #{description,jdbcType=VARCHAR},
      is_enable = #{isEnable,jdbcType=CHAR},
      org_id = #{orgId,jdbcType=INTEGER},
      password_length = #{passwordLength,jdbcType=CHAR},
      password_complexity = #{passwordComplexity,jdbcType=CHAR},
      lock_longest_time = #{lockLongestTime,jdbcType=CHAR},
      password_validity = #{passwordValidity,jdbcType=CHAR},
      password_history = #{passwordHistory,jdbcType=CHAR},
      attempt_times = #{attemptTimes,jdbcType=CHAR},
      device_encryption = #{deviceEncryption,jdbcType=CHAR},
      sd_encryption = #{sdEncryption,jdbcType=CHAR},
      allow_use_sdcard = #{allowUseSdcard,jdbcType=CHAR},
      allow_write_sdcard = #{allowWriteSdcard,jdbcType=CHAR},
      allow_screenshots = #{allowScreenshots,jdbcType=CHAR},
      allow_shear_plate = #{allowShearPlate,jdbcType=CHAR},
      visible_password = #{visiblePassword,jdbcType=CHAR},
      allow_use_debugging = #{allowUseDebugging,jdbcType=CHAR},
      allow_restore_factory_settings = #{allowRestoreFactorySettings,jdbcType=CHAR},
      allow_ota_update = #{allowOtaUpdate,jdbcType=CHAR},
      allow_use_camera = #{allowUseCamera,jdbcType=CHAR},
      allow_use_wifi = #{allowUseWifi,jdbcType=CHAR},
      allow_use_bluetooth = #{allowUseBluetooth,jdbcType=CHAR},
      allow_usb_palyer = #{allowUsbPalyer,jdbcType=CHAR},
      synchronous_network_time = #{synchronousNetworkTime,jdbcType=CHAR},
      allow_microphone = #{allowMicrophone,jdbcType=CHAR},
      allow_nfc_communication = #{allowNfcCommunication,jdbcType=CHAR},
      allow_mobile_data = #{allowMobileData,jdbcType=CHAR},
      allow_use_roam = #{allowUseRoam,jdbcType=CHAR},
      enable_blacklist = #{enableBlacklist,jdbcType=CHAR},
      enable_app_name_list = #{enableAppNameList,jdbcType=CHAR},     
      is_net_limit = #{isNetLimit,jdbcType=CHAR},
      visit_time_start = #{visitTimeStart,jdbcType=VARCHAR},
      visit_time_end = #{visitTimeEnd,jdbcType=VARCHAR},
      visit_time_str = #{visitTimeStr,jdbcType=VARCHAR},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      create_user = #{createUser,jdbcType=INTEGER},
      update_date = #{updateDate,jdbcType=TIMESTAMP},
      update_user = #{updateUser,jdbcType=INTEGER},
      delete_time = #{deleteTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  <!-- 获取设备策略列表数据 start 0.android  1.ios-->
  <select id="getDevicePolicyList" resultType="com.softtek.mdm.model.PolicyEntity" parameterType="com.softtek.mdm.util.DataGridModel">
    select 
      id,
      name,
      type,
      description,
      isEnable,
      assignedCount,
      createBy,
      createDate,
      updateDate,
      updateBy 	
    from v_device_policy 
    where 1=1 
      and orgId = #{params.orgId} 
    <if test="params.name!=null and params.name!=''">
     and name like CONCAT('%',#{params.name} ,'%') 
    </if>
    <if test="params.policytype!=null and params.policytype!=''">
     and isEnable = #{params.policytype} 
    </if>
    order by updateDate desc 
    limit #{begin},#{num} 
  </select>
  
  <!-- 获取设备策略列表数据 start -->
  <select id="getDevicePolicyListByParams" resultType="com.softtek.mdm.model.PolicyEntity">
    select 
      t1.id,
      t1.name,
      t1.description,
      t1.is_enable as isEnable,
      t1.create_user as createBy,
      date_format(t1.create_date,'%Y-%m-%d %H:%i:%S') as createDate,
      date_format(t1.update_date,'%Y-%m-%d %H:%i:%S') as updateDate,   
      t1.update_user as updateBy,
      (FIND_IN_SET(#{orgId},t1.id)) as assignedCount 
    from 
      android_device_policy t1 
    where 
      t1.delete_time is null 
    and t1.org_id = #{orgId} 
    <if test="objName!=null and objName!=''">
     and t1.name like CONCAT('%',#{objName} ,'%')
    </if>
    <if test="policytype !=null">
     and t1.is_enable = #{policytype}
    </if>
      order by t1.update_date desc 
      limit #{pageNum},#{pageSize} 
  </select>
  <!-- 获取设备策略列表数据 end -->
  
  <!-- 获取设备策略列表数据Size start-->
  <select id="getDevicePolicySize" resultType="java.lang.Integer" parameterType="com.softtek.mdm.util.DataGridModel">
    select 
      count(id) 
    from v_device_policy 
    where 1=1 
      and orgId = #{params.orgId} 
    <if test="params.name!=null and params.name!=''">
     and name like CONCAT('%',#{params.name} ,'%') 
    </if>
    <if test="params.policytype!=null and params.policytype!=''">
     and isEnable = #{params.policytype} 
    </if>
  </select>
  
  <!-- 获取设备策略列表数据Size start-->
  <select id="getDevicePolicySizeByParams" resultType="java.lang.Integer">
    select 
      count(t1.id) 
    from 
      android_device_policy t1 
    where 
      t1.delete_time is null  
    and t1.org_id = #{orgId} 
    
    <if test="objName!=null and objName!=''">
     and t1.name like CONCAT('%',#{objName} ,'%')
    </if>
    <if test="policytype != null">
     and t1.is_enable = #{policytype}
    </if>
  </select>
 
  <!-- 获取设备策略列表数据Size start-->
   <select id="getDevicePolicyCount" resultType="java.lang.Integer" parameterType="java.lang.Integer">
    select 
      count(t1.id) 
    from 
      android_device_policy t1 
    where 
      t1.delete_time is null  
    and t1.org_id = #{orgId} 
  </select>
   <!-- 获取设备策略列表数据Size end -->
  <!-- 根据策略名称获取策略  start -->
  <select id="selectDevicePolicyByName" parameterType="com.softtek.mdm.util.DataGridModel" resultType="java.lang.Integer">
    select 
      count(t1.id) 
    from android_device_policy t1 
    where 
      t1.delete_time is null 
    and t1.name = #{params.name} 
    and t1.org_id =  #{params.orgId} 
     <if test="params.id != null and params.id !=''">
      and t1.id != #{params.id} 
      </if>
  </select>
  <!-- 根据策略名称获取策略  end -->
  <select id="findAll" parameterType="java.lang.Integer" resultType="AndroidDevicePolicy">
  	SELECT id,name
  	FROM android_device_policy
  	WHERE is_enable=1
  	AND org_id=#{orgId}
  	AND delete_time is null
  	ORDER BY update_date desc
  </select>
  
  <!-- 获取该机构下所有的android策略 -->
  <select id="findAllByMap" resultType="AndroidDevicePolicy">
  	SELECT id,name
  	FROM android_device_policy
  	WHERE is_enable=1
  	AND org_id=#{orgId}
  	AND delete_time is null
  	AND create_user in
  	<include refid="filterRecordSql" />
  	ORDER BY update_date desc
  </select>
  
  <!-- 获取网页黑白名單列表 -->
  <select id="selectNetNameList" parameterType="com.softtek.mdm.util.DataGridModel" resultType="com.softtek.mdm.model.NetBehaviorBlackWhiteList">
	SELECT 
	  T1.id,
	  T1.blackwhite_name as blackWhiteName,
	  T1.type,
	  T1.remark,
	  (SELECT COUNT(T2.id)  FROM netbehavior_urllimit T2 WHERE T2.blackwhitelistid = T1.id) as size   
	FROM netbehavior_whiteblacklist T1 
	WHERE T1.organization_id = #{params.orgId} 
	AND T1.delete_date is null 
	<if test="params.name!=null and params.name!='%%'">
	 AND T1.blackwhite_name like #{params.name} 
	</if>
	<if test="params.type!=null and params.type!=''">
	 AND T1.type = #{params.type} 
	</if>
<!-- 	 AND T1.create_username in 
    <include refid="filterManagerRecordSql" />  -->
	ORDER BY T1.update_time DESC 
 	 limit #{begin},#{num} 
  </select>
  
  <!-- 获取网页黑白名單列表大小 -->
  <select id="selectNetNameSize" parameterType="com.softtek.mdm.util.DataGridModel" resultType="java.lang.Integer">
	SELECT 
	  count(T1.id) 
	FROM netbehavior_whiteblacklist T1 
	WHERE T1.organization_id = #{params.orgId} 
	AND T1.delete_date is null 
	<if test="params.name!=null and params.name!='%%'">
	 AND T1.blackwhite_name like #{params.name} 
	</if>
	<if test="params.type!=null and params.type!=''">
	 AND T1.type = #{params.type} 
	</if> 
<!-- 	 AND T1.create_username in 
    <include refid="filterManagerRecordSql" />  -->
  </select>
  
  <select id="findPolicyByMap" resultMap="BaseResultMap">
   		SELECT
   		id, name, description, is_enable, org_id, password_length, 
	      password_complexity, lock_longest_time, password_validity, 
	      password_history, attempt_times, device_encryption, 
	      sd_encryption, allow_use_sdcard, allow_write_sdcard, 
	      allow_screenshots, allow_shear_plate, visible_password, 
	      allow_use_debugging, allow_restore_factory_settings, 
	      allow_ota_update, allow_use_camera, allow_use_wifi, 
	      allow_use_bluetooth, allow_usb_palyer, synchronous_network_time, 
	      allow_microphone, allow_nfc_communication, allow_mobile_data, 
	      allow_use_roam, enable_blacklist, is_net_limit, 
	      visit_time_start, visit_time_end, visit_time_str, create_date, 
	      create_user, update_date, update_user
	      FROM android_device_policy
	      WHERE org_id=#{orgId}
	      AND name=#{name}
	      AND delete_time is null
   </select>
 
</mapper>