<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	<mapper namespace="com.softtek.mdm.dao.DeletedDeviceDao">
	    <insert id="insertDevice" parameterType="deviceManager">
	        insert into deleted_device (
        		 id,
	             org_id,
	             device_name,
	             device_type,
	             sn,
	             esnorimei,
	             belong,
	             device_status,
	             user_id,
	             os_version,
	             phone_number,
	             app_versoin,
	             ip,
	             power,
	             resolution,
	             udid,
	             capacity,
	             last_login_time,
	             last_collection_time,
	             create_time,
	             create_by,
	             update_time,
	             update_by,
	             delete_time,
	             irr_status,
	             lost_status,
	             break_status,
	             visit_status,
	             is_active,
	             sd_card,
	             device_unique_id,
	             longitude,
	             latitude,
	             flux,
	             statistical_time
	         )values(
	         	#{id},
	            #{orgId},
	            #{device_name},
	            #{device_type},
	            #{sn},
	            #{esnoOrImei},
	            #{belong},
	            #{device_status},
	            #{userId},
	            #{osVersion},
	            #{phoneNumber},
	            #{appVersion},
	            #{ip},
	            #{power},
	            #{resolution},
	            #{udid},
	            #{capacity},
	            #{lastLoginTime},
	            #{last_collection_time},
	            #{createTime},
	            #{createBy},
	            #{updateTime},
	            #{updateBy},
	            #{deleteTime},
	            #{irr_status},
	            #{lost_status},
	            #{break_status},
	            #{visit_status},
	            #{isActive},
	            #{sdCard},
	            #{deviceUniqueId},
	            #{longitude},
	            #{latitude},
	            #{flux},
	            now()
	         )
	    </insert>
	</mapper>