html { color: #333; font-size: 1em; line-height: 1.4; font-family: '微软雅黑', 'Microsoft YaHei', sans-serif; }
::-moz-selection { background: #b3d4fc; text-shadow: none }
::selection { background: #b3d4fc; text-shadow: none }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0 }
audio,
canvas,
iframe,
img,
svg,
video { vertical-align: middle }
fieldset { border: 0; margin: 0; padding: 0 }
textarea { resize: vertical }
ul,li{
	margin: 0;
	padding: 0;
	list-style: none;
}
.browserupgrade { margin: 0.2em 0; background: #ccc; color: #000; padding: 0.2em 0 }
.hidden { display: none !important }
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px }
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto }
.invisible { visibility: hidden }
.clearfix:before,
.clearfix:after,
.container:before,
.container:after { content: " "; display: table }
.clearfix:after,
.container:after { clear: both }
.hide{display: none;}
/*customer*/
.dib { display: inline-block; *display: inline; *zoom: 1; }
.pull-left { float: left; }
.pull-right { float: right; }
.container { max-width: 1440px; min-width: 1410px; position: relative; margin-left: auto; margin-right: auto; }
.icon { display: inline-block; *display: inline; *zoom: 1; background: url(../img/icon.png) no-repeat; vertical-align: middle; }
.btn { display: inline-block; *display: inline; *zoom: 1; padding: 8px 12px; border-radius: 4px; text-align: center; vertical-align: middle; background-color: #2e8ae6; border: 1px solid #1a6ec2; color: #fff; font-size: 14px; line-height: 1; min-width: 80px; }
.btn:hover { background-color: #1a6ec2; }
.c-warning { color: #e38527 }
.c-danger { color: #e62e2e }
/*头部*/
.header {min-width:1410px; background: url(../img/head-bg.png) repeat-x; height: 63px; }
.header .brand { margin: 17px 0 0 57px; float: left; }
.header .time { float: right; margin-right: 65px; font-size: 18px; color: #9fa4a7; line-height: 62px; height: 62px; }
.header .time span { color: #fff; padding-left: 10px; }

/*侧边栏*/
.wrapper { background: url(../img/main-bg.png)  repeat-x; }
.navbar { width: 220px; position: absolute; top: 0; bottom: 0; left: 0; overflow-x: hidden; overflow-y: auto; }
.nav { padding-left: 0; list-style: none; margin-bottom: 0; }
.nav>li,
.nav>li a { position: relative; display: block; }
.nav>li { border-bottom: 1px solid #c5c5c5; }
.nav>li>a { color: #1e92d5; font-size: 16px; padding: 10px 20px 10px 57px; }
.nav>li>a .fa:before { content: "\f105"; }
.nav>li>ul { margin: 0; padding: 0; background-color: #8cc1e0; font-size: 14px; }
.nav>li>ul a { color: #fff; padding: 10px 20px 10px 57px; }
.nav>li>ul a .fa{margin-right: 5px;}
.nav>li>ul a:hover,
.nav>li>ul .active a { background-color: #c2deec; color: #000; }
.nav>li>a>.fa { position: absolute; font-size: 30px; top: 6px; right: 20px; }
.nav>li.active>a>.fa-angle-right:before { content: "\f107"; }
.nav>.active>a { color: #333; background-color: #fff; }
.logout { width: 220px; position: absolute; bottom: 60px; }
.logout a { display: block; border-top: 1px solid #c5c5c5; border-bottom: 1px solid #c5c5c5; padding: 10px 20px 10px 57px; font-size: 14px; color: #1e92d5; }
.logout .fa { float: right; font-size: 30px; }
/*主内容*/
.page-wrapper { margin-left: 220px; background: url(../img/page-wrapper-bg.png)  repeat-y; }
.page-con { padding: 20px 30px 20px 40px; }
.page-hd { float: left; }
.page-hd h2 { font-size: 24px; font-weight: normal; margin: 0; }
.page-hd .address { margin-left: 25px; font-size: 16px; }
.page-hd-data { float: right; font-size: 15px; }
.page-hd-data dt,
.page-hd-data dd { display: inline-block; *display: inline; *zoom: 1; margin: 0; padding: 0; }
.page-hd-data dd { color: #999; margin-left: 10px; }
.page-hd-data dd + dt { margin-left: 30px; }
.real-time-info { width: 456px; float: left; }
.real-box { position: relative; }
.real-title { border-radius: 10px 10px 0 0; background-color: #1e92d5; display: inline-block; *display: inline; *zoom: 1; font-size: 16px; line-height: 1; color: #fff; padding: 10px 12px 5px; }
.real-con { background-color: #1e92d5; border-radius: 0 10px 10px; }
.real-time-photo { width: 239px; border-right: 1px solid #8fc9ea; padding: 26px 0 12px 10px; }
.real-time-photo img { border: 2px solid #b4dbf0; border-radius: 2px; width: 113px; height: 142px; }
.real-time-photo img.full { width: 100px; height: 233px; margin-left: 8px; }
.get-time { display: block; font-size: 12px; text-align: center; margin-top: 10px; color: #fff; }
.his-photo { width: 196px; padding-top: 26px; padding-left: 10px; }
.his-item { width: 70px; float: left; margin: 0 10px 15px; }
.his-item img { display: block; width: 70px; height: 88px; }
.id-check-box { border-radius: 10px; background-color: #bddff2; margin-top: 1px; font-size: 12px; overflow: hidden; }
.id-info { overflow: hidden; padding: 26px; }
.id-img { float: left; text-align: center; margin-right: 32px; }
.id-img img { border: 1px solid #ccc; width: 98px; height: 124px; display: block; margin-bottom: 10px; }
.id-item { margin-bottom: 3px; }
.id-img span { color: #8e8e8e; }
.id-item label { float: left; width: 5.5em; }
.id-spec,
.id-item span { display: block; overflow: hidden; zoom: 1; }
.blue { color: #1e92d5 }
.id-list { margin-bottom: 20px; }
.id-list table { width: 100%; }
.id-list table td { border-top: 1px solid #fff; border-bottom: 1px solid #fff; padding: 10px 15px; }
/*对比*/
.real-contrast { float: right; width: 650px; }
.real-contrast .real-box { margin-bottom: 10px; }
.real-contrast .real-title { background-color: #fff; border: 2px solid #1e92d5; border-bottom: 0; color: #1e92d5; margin-bottom: -2px; padding-top: 8px; padding-bottom: 7px; }
.real-contrast .real-con { background-color: #fff; border: 2px solid #1e92d5; }
.contrast { padding: 0 20px; overflow: hidden; }
.contrast-item { float: left; text-align: center; }
.contrast-item h3 { margin: 0; font-size: 13px; color: #262626; line-height: 30px; font-weight: normal; }
.contrast-item h3.ml { margin-left: 116px; }
.contrast-item .id-img { margin-left: auto; margin-right: auto; float: none; }
.contrast-item .id-img img { border-color: #fff; margin-bottom: 5px; }
.contrast-item .c-info { padding-bottom: 5px; font-size: 12px; color: #666; }
.contrast-con { height: 100%; text-align: left; padding: 0 20px; border-left: 1px solid #dadada; border-right: 1px solid #dadada; }
.m-left { float: left; margin-right: 18px; }
.m-left img { display: block; margin-bottom: 5px; }
.m-txt { overflow: hidden; zoom: 1; }
.contrast-sepc { margin: 0; padding: 0; list-style: none; font-size: 12px; color: #666; text-align: left; }
.contrast-sepc li { margin-bottom: 6px; }
.contrast-sepc .strong { color: #333 }
.warning { display: inline-block; *display: inline; *zoom: 1; background-color: #e10202; color: #fff; border-radius: 8px; padding: 5px 8px; line-height: 1; }
.result { font-size: 13px; color: #666; margin-top: 20px; }
.percent { display: block; color: #1e92d5; font-size: 36px; }
.f18 { font-size: 18px; }
.g-1 { width: 25%; }
.g-2 { width: 50%; }
.g-3 { width: 45%; }
.g-4 { width: 30%; }
.t-center { text-align: center !important; }
.t-left { text-align: left !important; }
.mr5 { margin-right: 5px; }
.h-more { position: absolute; top: 8px; right: 23px; font-size: 12px; color: #1e92d5; }
.h-more .fa { color: #333; font-size: 16px; }


/*身份证比对*/
.match-title-box {position: relative; background-color: #e6e6e6; padding: 8px 18px; line-height: 1; font-size: 18px; border-radius: 4px; overflow: hidden; }
.match-title-box + .match-title-box { margin-top: 4px; border-bottom: 1px solid #ccc; }
.match-title-box span { display: inline-block; *display: inline; *zoom: 1; font-size: 14px; border-left: 1px solid #cfcfcf; padding-left: 10px; margin-left: 10px; }
.match-title-box .form-inline { font-size: 14px; padding-top: 5px; padding-bottom: 3px; }
.match-title-box .form-control { border: 0 none; background-color: #fff; padding: 5px 10px; }
.form-inline label + .form-control { margin: 0 20px 0 10px; width: 250px; }
.table { width: 100%; border: 1px solid #d9d9d9; }
.table>thead>tr>th,
.table>tbody>tr>td { padding: 8px 10px; }
.table>thead>tr>th { background-color: #2e8ae6; color: #fff; font-size: 14px; font-weight: normal;border-top: 1px solid #d9d9d9; }
.table>tbody>tr>td { border-top: 1px solid #d9d9d9; text-align: center; font-size: 12px; }
.table th + th,
.table>tbody>tr>td + td { border-left: 1px solid #d9d9d9; }
.table .id-info { margin-left: auto; margin-right: auto; padding: 0; width: 300px; }
.table .id-img { margin-right: 20px; }
.table .id-img img { width: 68px; height: 86px; margin-bottom: 0; }
.table  .id-item { text-align: left; }
.table  td .more { color: #2e8ae6; text-decoration: underline; }
.table  td .more .fa { font-size: 14px; color: #626262; }
.table .people-img { width: 70px; height: 88px; }
.table .pre-num { font-size: 24px; }
.match-data .table { margin-top: 15px; }
.match-data span.red { color: #fe0000; font-size: 16px; }
.page-info { display: block; font-size: 12px; margin-top: 10px; line-height: 20px; }
.pagination li { margin-top: 10px; float: left; font-size: 12px; }
.pagination li + li { margin-left: 5px; }
.pagination li >a { display: block; background-color: #dcd9d4; color: #4c4c4c; padding: 0 8px; line-height: 20px; }
.pagination input,
.pagination select { border: 1px solid #dcd9d4; color: #eee; color: #333; height: 20px; }
.pagination input { height: 18px; width: auto; padding: 0 5px; width: 2em; text-align: center; }
.upload-photo { margin-left: 50px; float: left; padding: 10px 0; }
.upload-box { width: 90px; height: 125px; display: table-cell; vertical-align: middle; background-color: #fff; padding: 0 5px; color: #2e8ae6; text-decoration: underline; font-size: 12px; text-align: center; }
.photo-form { float: left; margin-left: 55px; font-size: 14px; padding: 10px 0; }
.form-block + .form-block { margin-top: 10px; }
.form-block>label { float: left; width: 100px; margin-top: 5px; }
.per { position: relative; width: 100px; display: inline-block; *display: inline; *zoom: 1; }
.per .form-control { width: 80px; }
.per>i { border: 1px solid #ccc; width: 27px; height: 27px; position: absolute; top: 0; right: 0; color: #333; font-style: normal; text-align: center; line-height: 27px; }

/*高级查询*/
.check-more{
	font-size: 14px;
	width: 129%;
	display: inline-block;*
	display: inline;*zoom:1;
}
.check-more .w1{
	width: 435px;
}
.check-more .w2{
	width: 483px;
	margin: 0 0 0 100px;
}
.check-more .w3{
	margin: 0 0 0 35px;
}
.w1 label,
.w2 label{
	float: left;
	width: 7em;
	line-height: 29px;
}
.w3 label{
	float: left;
	width: 4em;
	line-height: 29px;
}
.w1 hr{
	width: 24px;
	float: left;
	margin:15px 28px 0;
}
.w2 .form-control{
	width: 180px;
}
.w3 .form-control{
	width: 100px;
}
.fl-100{
	float: left;
	width: 80px;
}
select.fl-100{
	width: 90px;
}
.fl-100 + label{
	margin-left: 35px;
    margin-right: 13px;
}
.check-more .date{
	float: left;
	position: relative;
	width: 120px;
}
.check-more .date input{
	width: 100px;
}
.check-more .date .fa-calendar{
	position: absolute;
	top: 0;
	right: 0;
	font-size: 18px;
	width: 29px;
	height: 29px;
	text-align: center;
	line-height: 29px;
}
.checkbox-inline{
	float: left;
	display: block;
	width: 20%;
	line-height: 29px;
}
.form-group{
	margin: 10px 0;
}
.check-more .checkbox-inline input{
	vertical-align:middle; margin-top:-2px; margin-bottom:1px;
}
.open-more{
	display: block;
	text-align: center;
	color: #2e8ae6;
	font-size: 24px;
}
.open-more.active .fa:before{
	content: "\f102";
}
.search-more{
    margin: 0 auto;
    display: block;
    width: 50px;
}
.sub-table .people-img{
	border: 1px solid #ccc;
	width: 68px;
	height: 86px;
}
.sub-table .txt{
	line-height: 20px;
}
.sub-table td{
	padding:0 5px;
}
.no-contrast-info {
	color: red;
	width: 100%;
}
.contrast-img {
	width: 100px;
}
.contrast-info {
	width: 100%;
}
.fa-x {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 18px;
    width: 29px;
    height: 29px;
    text-align: center;
    line-height: 29px;
    background: url(../img/x.png) no-repeat;
    background-position: 10px;
}
.fa-x-pos {
	top: 0;
	left: 191px;
}
.w1,.w2,.w3 {
	position: relative;
}
.sex-selcet {
    border: solid 1px #000;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    background: url(../img/select.png) no-repeat scroll right center;
    padding-right: 14px;
}
select::-ms-expand { display: none; }
/*iocn*/

.i-logout { width: 28px; height: 28px; background-position: 0 -19px; }
.i-arrow-left { width: 10px; height: 14px; background-position: -11px 0; }
.i-arrow-down { width: 10px; height: 7px; background-position: -41px 0; }
.i-yes { width: 24px; height: 24px; background-position: 0 -57px; margin-right: 5px;}
.i-no { width: 24px; height: 24px; background-position: 0 -91px; margin-right: 5px;}

.nav .collapse { display: none }
.nav .collapse.in { display: block }
.nav .collapsing { position: relative; height: 0; overflow: hidden; -webkit-transition-timing-function: ease; -o-transition-timing-function: ease; transition-timing-function: ease; -webkit-transition-duration: .35s; -o-transition-duration: .35s; transition-duration: .35s; -webkit-transition-property: height, visibility; -o-transition-property: height, visibility; transition-property: height, visibility }