<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.f2b2c.eco.dao.market.CUserBalanceRecordDao" >
  <resultMap id="BaseResultMap" type="com.f2b2c.eco.model.market.CUserBalanceRecordModel" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="operate_type" property="operateType" jdbcType="CHAR" />
    <result column="operate_content" property="operateContent" jdbcType="VARCHAR" />
    <result column="c_user_balance_id" property="cUserBalanceId" jdbcType="INTEGER" />
    <result column="tag" property="tag" jdbcType="CHAR" />
    <result column="money" property="money" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, operate_type, operate_content, c_user_balance_id, tag, money, create_time
  </sql>
  
  <!-- 根据主键查询表字段 -->
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from c_user_balance_record
    where id = #{id,jdbcType=INTEGER}
  </select>
  
  <!-- 根据主键删除字段 -->
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from c_user_balance_record
    where id = #{id,jdbcType=INTEGER}
  </delete>
  
  <!-- 插入表 -->
  <insert id="insert" useGeneratedKeys="true" parameterType="com.f2b2c.eco.model.market.CUserBalanceRecordModel" >
    <selectKey resultType="java.lang.Integer" order="AFTER" keyProperty="id">
        SELECT LAST_INSERT_ID() AS id
    </selectKey> 
    insert into c_user_balance_record (id, operate_type, operate_content, 
      c_user_balance_id, tag, money, 
      create_time)
    values (#{id,jdbcType=INTEGER}, #{operateType,jdbcType=CHAR}, #{operateContent,jdbcType=VARCHAR}, 
      #{cUserBalanceId,jdbcType=INTEGER}, #{tag,jdbcType=CHAR}, #{money,jdbcType=INTEGER}, 
      #{createTime,jdbcType=TIMESTAMP})
  </insert>
  
  <!-- 插入可选的表字段 -->
  <insert id="insertSelective" useGeneratedKeys="true" parameterType="com.f2b2c.eco.model.market.CUserBalanceRecordModel" >
    <selectKey resultType="java.lang.Integer" order="AFTER" keyProperty="id">
        SELECT LAST_INSERT_ID() AS id
    </selectKey> 
    insert into c_user_balance_record
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="operateType != null" >
        operate_type,
      </if>
      <if test="operateContent != null" >
        operate_content,
      </if>
      <if test="cUserBalanceId != null" >
        c_user_balance_id,
      </if>
      <if test="tag != null" >
        tag,
      </if>
      <if test="money != null" >
        money,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="operateType != null" >
        #{operateType,jdbcType=CHAR},
      </if>
      <if test="operateContent != null" >
        #{operateContent,jdbcType=VARCHAR},
      </if>
      <if test="cUserBalanceId != null" >
        #{cUserBalanceId,jdbcType=INTEGER},
      </if>
      <if test="tag != null" >
        #{tag,jdbcType=CHAR},
      </if>
      <if test="money != null" >
        #{money,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  
  <!-- 更新可选的表字段 -->
  <update id="updateByPrimaryKeySelective" parameterType="com.f2b2c.eco.model.market.CUserBalanceRecordModel" >
    update c_user_balance_record
    <set >
      <if test="operateType != null" >
        operate_type = #{operateType,jdbcType=CHAR},
      </if>
      <if test="operateContent != null" >
        operate_content = #{operateContent,jdbcType=VARCHAR},
      </if>
      <if test="cUserBalanceId != null" >
        c_user_balance_id = #{cUserBalanceId,jdbcType=INTEGER},
      </if>
      <if test="tag != null" >
        tag = #{tag,jdbcType=CHAR},
      </if>
      <if test="money != null" >
        money = #{money,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  <!-- 更细表字段 -->
  <update id="updateByPrimaryKey" parameterType="com.f2b2c.eco.model.market.CUserBalanceRecordModel" >
    update c_user_balance_record
    set operate_type = #{operateType,jdbcType=CHAR},
      operate_content = #{operateContent,jdbcType=VARCHAR},
      c_user_balance_id = #{cUserBalanceId,jdbcType=INTEGER},
      tag = #{tag,jdbcType=CHAR},
      money = #{money,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  <!-- 根据用户id获取余额变动信息 -->
  <select id="selectBalanceRecordByUserId" resultType="com.f2b2c.eco.model.market.CUserBalanceRecordModel">
    select 
      T1.id, 
      T1.operate_type as operateType, 
      T1.operate_content as operateContent, 
      T1.c_user_balance_id as cUserBalanceId, 
      T1.tag, 
      T1.money, 
      date_format(T1.create_time,'%Y-%m-%d %H:%i:%s') as strCreateDate 
    from c_user_balance_record T1 
    left join c_user_balance T2 ON T1.c_user_balance_id = T2.id 
    where T2.c_user_id = #{params.userId} 
    <if test="params.operateType != null and params.operateType != ''">
     and T1.operate_type = #{params.operateType} 
    </if>
    order by T1.create_time desc 
    limit #{start},#{length}  
  </select>
  
  <!-- 计算C端每个用户的佣金 -->
  <select id="computeCommissionByUserId" resultType="CUserCommissionBean">
   SELECT 
      T2.id,
      T2.c_user_id as userId,
      T2.commission,
      T2.version,
      T1.is_calculated as isCalculated,
      sum(T1.money) as money 
   FROM c_user_balance_record T1 
   LEFT JOIN c_user_balance T2 ON T1.c_user_balance_id = T2.id 
   WHERE T1.operate_type = 5 
   AND STR_TO_DATE(T1.create_time,'%Y-%m') = STR_TO_DATE(DATE_SUB(now(),INTERVAL 1 MONTH),'%Y-%m') 
   GROUP BY T2.c_user_id 
  </select>
  
  <!-- 将上个月的所有佣金录更新为已计算过佣金 -->
  <update id="updateIsCalculatedByLastMonth" parameterType = "java.lang.String">
     <![CDATA[
         UPDATE  
           c_user_balance_record T1 
         SET T1.is_calculated = 1 
         WHERE T1.operate_type = 5 
         AND T1.create_time >= #{0} and T1.create_time <= #{1} 
         AND T1.is_calculated is null or T1.is_calculated = 0 
     ]]>
  </update>
  
  <!-- 批量插入C端用户佣金记录-->
  <insert id="insertBatchCUserCommissionRecord" parameterType="java.util.List">
    <selectKey resultType="long" keyProperty="id" order="AFTER">  
        SELECT LAST_INSERT_ID() 
    </selectKey>
    insert into c_user_balance_record (id, operate_type, operate_content, c_user_balance_id, tag, money, create_time) 
    values 
    <foreach collection="list" item="item" index="index" separator=",">
      (#{item.id},#{item.operateType},#{item.operateContent},#{item.cUserBalanceId},#{item.tag},#{item.money},#{item.createTime}) 
    </foreach> 
  </insert>
</mapper>