<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hd.pfirs.dao.FaceCompDao">
	<resultMap type="com.hd.pfirs.model.FaceInfo" id="faceInfoModelMap">
		<id column="FaceId" property="faceId" />
		<result column="FaceCode" property="faceCode" />
		<result column="CollectTime" property="collectTime" />
		<result column="CollectTimeStamp" property="collectTimeStamp" />
		<result column="FrontSaveTime" property="frontSaveTime" />
		<result column="FrontSaveTimeStamp" property="frontSaveTimeStamp" />
		<result column="FrontRelayTime" property="frontRelayTime" />
		<result column="FrontRelayTimeStamp" property="frontRelayTimeStamp" />
		<result column="TogthSaveTime" property="togthSaveTime" />
		<result column="TogthSaveTimeStamp" property="togthSaveTimeStamp" />
		<result column="RelayTime" property="relayTime" />
		<result column="RelayTimeStamp" property="relayTimeStamp" />
		<result column="RelayFlag" property="relayFlag" />
		<result column="DeviceCode" property="deviceCode" />
		<result column="RegionCode" property="regionCode" />
		<result column="CollectSite" property="collectSite" />
		<result column="GroupCode" property="groupCode" />
		<result column="CollectPic" property="collectPic" />
		<result column="PicType" property="picType" />
		<result column="PicNo" property="picNo" />
		<result column="isLast" property="isLast" />
		<result column="Direction" property="direction" />
		<result column="Speed" property="speed" />
		<result column="Size" property="size" />
		<result column="RemarkDesc" property="remarkDesc" />
		<result column="DeleteStatus" property="deleteStatus" />
		<result column="CreateName" property="createName" />
		<result column="CreateTime" property="createTime" />
		<result column="UpdateName" property="updateName" />		
		<result column="UpdateTime" property="updateTime" />
	</resultMap>	
	<resultMap id="faceInfoMap" type="com.hd.pfirs.model.FaceInfo">
	    <result column="CollectTime" property="collectTime" />
	    <result column="CollectPic" property="collectPic" />
	</resultMap>
	
	<select id="getfaceInfo" resultMap="faceInfoModelMap">
		SELECT * FROM (SELECT
		COLLECTPIC,
		collectTime CREATETIME
		FROM T_PP_FACEINFO WHERE FACECODE = #{faceCode} order by collectTimeStamp desc) WHERE rownum = 1
	</select>
	
	<select id="getfaceInfoByGroup" resultMap="faceInfoModelMap">
		SELECT
		FaceCode
		FROM T_PP_FACEINFO WHERE groupcode = #{groupcode} 
	</select>
	
    <select id="getFaceByCardCode" resultMap="faceInfoMap">
			select collectPic,collectTime 
			from t_pp_faceAndCardResult faceAndCardResult,
			t_pp_faceInfo faceInfo 
			where faceAndCardResult.faceCode = faceInfo.faceCode
			 and faceAndCardResult.cardCode = #{cardCode} 
			 and rownum = 1  order by faceAndCardResult.createTime
   </select>
</mapper>